:root {
  --main-colour: #302a3f;
}

body {
  margin: 100px 0;
  background-color: #f9f7fe;
}

h1 {
  color: var(--main-colour);
  padding-top: 15px;
}
.container {
  padding: 10px, 50px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  width: 500px;
}
.search-button {
  background-color: #003638 !important;
  opacity: 80%;
  color: white;
  border-style: none;
  padding: 7px 15px;
}

.local-info {
  list-style-type: none;
  color: var(--main-colour);
  line-height: 1.5;
}

.current {
  font-size: 70px;
  color: var(--main-colour);
  padding-top: 20px;
}

.celsius {
  font-size: 20px;
  vertical-align: center;
}

canvas {
  padding: 25px 0 0 15px;
}

.icon-temp {
  padding: 50px 20px 0 0;
}
